.sign-up,
.sign-in {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, .7);
  display: flex;
  justify-content: center;
  align-items: center;
  .exit {
    height: 100%;
    width: 100%;
  }
  form{
    background: #0F1C40;
    height: 50%;
    width: 50%;
    position: absolute;
    z-index: 2;
    div{
      height: 70%;
      width: 70%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    
      input {
        height: 30px;
        width: 60%;
        border: none;
        border-radius: 50px;
     }
      ::-webkit-input-placeholder {
        padding-left: 10px;
     }
    }
  }
}
.exit-button {
  height: 20px;
}