.SignIn {
    main {
    display: flex;
    justify-content: center;

    form {
        color: white;
        margin: 10px;
    }

    input {
        padding: 10px;
        width: auto;
    }
    }
}