
article {
  height: 250px;
  width: 140px;
  margin: 30px;
  img{
    height: 180px;
    width: 140px;
    box-shadow: 2px 2px 10px black
  }
  .title{
    color: #F4F8FA;
    margin: 5px 0 5px 0;
  }
  .year{
    color: #49597B;
  }
}