aside {
  background: #0F1C40;
  border-right: #485981 solid 1px;
  display: flex;
  justify-content: center;
  min-height: 100%;
  padding-top: 20px;
  width: 15%;
  button {
    cursor: pointer;
    font-size: 20px;
    height: 35px;
    width: 115%;
  }
}