header {
  align-items: center;
  background: #17274C;
  border-bottom: #485981 solid 1px;
  height: 10%;
  padding: 0 10px 0 10px;
  width: 100%;
  h1 {
    color: white;
    font-size: 42px;
    height: auto;
  }
  button {
    padding: 20px;
    font-size: 16px;
    height: 35px;
    margin: 0 10px 10px;
  }
  .btn-container{
    display: flex;
    justify-content: flex-end;
  }
  // button {
  //   height: 50px;
  // }
}

